@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins";
  background-color: #001220;
}

.App {
  text-align: center;
  color: white;
}

.welcome-screen {
  height: 100vh;
  max-height: -webkit-fill-available;
  width: 100vw;
  min-width: 100vw;
  position: absolute;
  background-image: url("images/intro.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.homepage {
  color: #000;
  background-image: url("images/main.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  max-height: -webkit-fill-available;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h5 {
  margin: 0;
}

h2,
h5 {
  color: #fff;
}

p {
  color: #fff;
  margin: 0;
  padding: 0;
}

.input-name {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid #fff;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin: 10px 0;
  width: 70%;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  font-size: 0.8em;
  table-layout: fixed;
}

td {
  height: auto;
}

.table-checkbox {
  width: 15%;
  vertical-align: middle;
}

.table-content {
  text-align: left;
  vertical-align: middle;
}

.table-buttons {
  width: 15%;
  text-align: center;
  vertical-align: middle;
}

div.wrapper,
div.wrapper::-webkit-scrollbar {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 38vh;
  background-color: #fff;
  border-radius: 8px;
  margin: 0;
}

div.wrapper::-webkit-scrollbar {
  width: 0px;
}

div.intro {
  padding: 0 0 10px 0;
}

input[type="checkbox"] {
  accent-color: #fff;
  cursor: pointer;
}

.delete-button {
  margin: 0;
  padding: 0;
  width: 0.8em !important;
  height: 0.8em !important;
}

.form-field {
  font-size: 0.9em;
}

.setting {
  margin-top: 5px;
  width: 75%;
  color: #ffffff;
  padding: 5px 10px;
}

.settings-modal {
  display: flex;
  align-items: center;
}

.settings-button {
  font-size: 0.8em;
  width: 100%;
  margin-top: 0.5em;
}

.modal-button {
  font-size: 0.8em;
}

.active-user {
  background-color: #333333;
  color: #fff;
  border: none;
  pointer-events: none;
}

@media screen and (min-width: 767px) {
  .input-name {
    width: 35%;
    margin: 10px;
  }

  table,
  .settings-button,
  .modal-button {
    font-size: 0.9em;
  }

  .checkbox {
    margin: 5px 10px;
    padding: 0;
  }

  .form-field {
    font-size: 0.9em;
  }

  .table-checkbox {
    width: 10%;
    text-align: left;
  }
}
